<a href="https://colab.research.google.com/github/Ignacio-Ibarra/NLP-Disasters/blob/tp1_nlp_disasters---edits/Eliminando%20valores%20contadictorios%20del%20target.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Eliminando valores contradictorios

Librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
from wordcloud import WordCloud
import PIL
import itertools
from collections import defaultdict
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop=set(stopwords.words('english'))
from nltk.tokenize import word_tokenize
nltk.download('punkt')
import string



%matplotlib inline

#para suprimir notacion cientifica en los outputs
pd.options.display.float_format='{:20,.2f}'.format

import warnings
warnings.filterwarnings('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

Google Drive

In [0]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
link='https://drive.google.com/open?id=1Wuo42Fju9VOh2m5PV7q95TTUAIkrEwDD'
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='

1Wuo42Fju9VOh2m5PV7q95TTUAIkrEwDD

In [0]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('train.csv')

Carga DF

In [110]:
#Loading 'train.csv' into DataFrame
train=pd.read_csv('train.csv')
train.head(10) #Let's have a first view of the DataFrame

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1
5   8     NaN  ...  #RockyFire Update => California Hwy. 20 closed...      1
6  10     NaN  ...  #flood #disaster Heavy rain causes flash flood...      1
7  13     NaN  ...  I'm on top of the hill and I can see a fire in...      1
8  14     NaN  ...  There's an emergency evacuation happening now ...      1
9  15     NaN  ...  I'm afraid that the tornado is coming to our a...      1

[10 rows x 5 columns]

In [111]:
print('El DataFrame cuenta con {} filas y {} columnas'.format(train.shape[0],train.shape[1]))

El DataFrame cuenta con 7613 filas y 5 columnas

In [134]:
train.groupby('text').agg({'target':['count','nunique']}).sort_values(by=('target','nunique'),ascending=False).head(15)

                                                   target
                                                    count nunique
text
Enugu Government to demolish illegal structures...      3       2
.POTUS  is a strategy for  refugees; IDP Intern...      5       2
Why are you deluged with low self-image? Take t...      2       2
Pandemonium In Aba As Woman Delivers Baby Witho...      5       2
Mmmmmm I'm burning.... I'm burning buildings I'...      2       2
RT NotExplained: The only known image of infamo...      2       2
FedEx no longer to transport bioterror germs in...      4       2
that horrible sinking feeling when youÛªve bee...      4       2
   slips into loss after   unsafe and hazardous...      3       2
 TY for the follow Go To  BRUTALLY ABUSED+DESOL...      2       2
The Prophet (peace be upon him) said 'Save your...      6       2
To fight bioterrorism sir.                              4       2
Angry Woman Openly Accuses NEMA Of Stealing Rel...      3       2
 describes piling up  thinking it would last  a...      3       2
Sassy city girl country hunk stranded in Smoky ...      3       2

Nos parece importante no tener 'target' que sean contradictorios si tenemos textos iguales. Para eso sacamos los url, mentions y hashtags de los textos para poder considerarlos

In [0]:
#Creo un DataFrame nuevo para no pisar 'train', en el nuevo voy a sacar los url, mentions y hashtags de los textos
train_no_url_mentions_hashtags = train

#Saco los url, mentions y hashtags de los textos
train_no_url_mentions_hashtags['text']=train['text'].str.replace('http\S+|HTTP\S+|www.\S+|WWW.\S+|@\S+|#\S+', '', case=False)

In [0]:
#Agrupo por texto, calculo el 'nunique' de los targets y hago el transform para agregar columna al dataframe
train_no_url_mentions_hashtags['target_nunique']=train_no_url_mentions_hashtags.groupby('text')['target'].transform('nunique')

In [0]:
#Me quedo sólo con los que tienen 'target_nunique'==1
train_no_url_mentions_hashtags=train_no_url_mentions_hashtags[train_no_url_mentions_hashtags.loc[:,'target_nunique']==1]

#Borro la columna 'target_nunique'. 
train_no_url_mentions_hashtags.drop(columns='target_nunique',inplace=True)

#Shape del df
train_no_url_mentions_hashtags.shape

(7368, 5)

El dataset queda con 7368 filas.